<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @programming_language.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @programming_language.description %>
</p>

<p>
  <strong>Link:</strong>
  <%= link_to @programming_language.link, @programming_language.link %>
</p>

<%= link_to 'Edit', edit_programming_language_path(@programming_language) %> |
<%= link_to 'Back to All Programming Languages', programming_languages_path %>
